<h1 style="text-align: center;">Classificatie van bevindingen</h1>
<p>Alle aanbevelingen worden aangeduid met een importantie. Deze importantie is gebaseerd op de ernst en de
   waarschijnlijkheid die bij een bevinding is aangegeven conform onderstaande matrix. Let op, de matrix is
   richtinggevend. De hacktester in kwestie kan hiervan afwijken mits dit beargumenteerd wordt.</p>
<br />
<br />
<table>
   <thead>
      <tr>
         <th>Classificatie</th>
         <th>Risico (voor de business)</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="explainationtd" style="background: #fcb900">Laag</td>
         <td>Een bevinding met een laag risico is een situatie die niet direct een gevaar oplevert voor de interne
            systemen, maar wat wel een teken is van een onvolledige beveiliging. Dit kan tevens ook informatie
            verschaffen aan iemand die ongeautoriseerd toegang probeert te verkrijgen of onbeschikbaarheid van systemen
            tracht te bewerkstelligen.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #ff6900">Midden</td>
         <td>Een bevinding met een middelmatig risico betreft een situatie die niet op zichzelf de mogelijkheid biedt
            tot ongeautoriseerde toegang of onbeschikbaarheid van systemen, maar die een mogelijkheid biedt of
            informatie verschaft die, in combinatie met andere hulpmiddelen of informatie, gebruikt zou kunnen worden om
            ongeautoriseerde toegang te verkrijgen of onbeschikbaarheid van systemen te bewerkstelligen.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #eb144c">Hoog</td>
         <td>Een bevinding met een hoog risico betreft een situatie die direct kan leiden tot ongeautoriseerde toegang
            tot interne netwerken en systemen of tot onbeschikbaarheid van systemen.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #00D014">Correct</td>
         <td>De classificatie “correct” hanteren wij om aan te tonen dat het onderdeel getest is, maar er geen
            kwetsbaarheden waargenomen zijn. Dit behoeft geen verdere acties</td>
      </tr>
   </tbody>
</table>
<br />
<table>
   <thead>
      <tr>
         <th>Classificatie</th>
         <th>Complexiteit (om uit te buiten)</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="explainationtd" style="background: #eb144c">Laag</td>
         <td>Uitbuiten van een bevinding met een lage complexiteit vergt beperkte kennis, kunde en middelen. Dit houdt
            in dat een dergelijke bevinding door een normale gebruiker zonder diepgaande technische kennis uitgevoerd
            kan worden.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #ff6900">Midden</td>
         <td>Uitbuiten van een bevinding met een gemiddelde complexiteit vergt kennis en kunde van een technisch
            persoon. Bijvoorbeeld een beheerder of architect met globale kennis van (de werking van) een systeem.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #fcb900" }>Hoog</td>
         <td>Uitbuiten van een bevinding met een hoge complexiteit vergt kennis en kunde van de systeembeheerder van het
            specifieke systeem of van een hacker. Voor het daadwerkelijke uitbuiten is speciaal voor deze zwakheid
            geschreven code nodig of is het nodig om speciale systemen in te richten (bijvoorbeeld man-in-the-middle
            servers en/of systemen om versleutelde data te proberen te kraken)</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #00D014">Correct</td>
         <td>De classificatie “correct” hanteren wij om aan te tonen dat het onderdeel getest is, maar er geen
            kwetsbaarheden waargenomen zijn. Dit behoeft geen verdere acties</td>
      </tr>
   </tbody>
</table>
<br />
<div class="pagebreakafter"></div>
<table>
   <thead>
      <tr>
         <th>Classificatie</th>
         <th>Inspanning (om te verhelpen)</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="explainationtd" style="background: #fcb900">Laag</td>
         <td>Een aanbeveling die lage inspanning vereist, kan in beperkte mate het aankopen van hardware en/of software
            vereisen en vereist geringe onderzoeks- en implementatie- activiteiten.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #ff6900">Midden</td>
         <td>Een aanbeveling die middelmatige inspanning vereist, kan het aankopen van hard- ware en/of software
            vereisen en vereist middelmatige onderzoeks- en implemen- tatieactiviteiten.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #eb144c">Hoog</td>
         <td>Een aanbeveling die hoge inspanning vereist, benodigd het aankopen van hardware en/of software en
            omvangrijke onderzoeks- en implementatieactiviteiten.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #00D014">Correct</td>
         <td>De classificatie “correct” hanteren wij om aan te tonen dat het onderdeel getest is, maar er geen
            kwetsbaarheden waargenomen zijn. Dit behoeft geen verdere acties</td>
      </tr>
   </tbody>
</table>
<br />