<h1 style="text-align: center;">Classification of findings</h1>
<p>All findings are labelled with a level of importance. This importance is based on the severity and probability given
   to a finding based on the matrix as displayed below. Be aware, this matrix is guiding. The researcher can deviate
   from this matrix provided that this is substantiated.</p>
<br />
<br />
<table>
   <thead>
      <tr>
         <th>Classification</th>
         <th>Risk (for the business)</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="explainationtd" style="background: #fcb900;">Low</td>
         <td>A finding which is classified as low risk, is not a direct danger to its internal systems. It is however a
            sign of an incomplete security. A low risk security can also provide information to someone who is trying to
            gain access (unauthorized) or who tries to interrupt and/or shutdown systems.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #ff6900;">Medium</td>
         <td>A finding which is classified as an average risk concerns risks which on their own are not too dangerous
            but which do offer information which can then be used in combination with other tools to gain access to
            systems, data or shutdown the entire system.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background:#eb144c;">High</td>
         <td>A finding with a high risk concerns a risk which can directly lead to unauthorized access to internal
            networks and systems or to the shutting down of entire systems.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background:#00D014;">Correct</td>
         <td>We use the classification "correct" to show that the component has been tested, but no vulnerabilities have
            been observed. This requires no further actions</td>
      </tr>
   </tbody>
</table>
<br />
<table>
   <thead>
      <tr>
         <th>Classification</th>
         <th>Complexity (to exploit)</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="explainationtd" style="background:#eb144c;">Low</td>
         <td>Exploiting a vulnerability with a low complexity requires very limited knowledge, skill or tools. This
            means that a vulnerability with a low complexity could potentially be exploited by a malicious party with
            limited knowledge.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #ff6900;">Medium</td>
         <td>Exploiting a vulnerability with an average complexity requires knowledge and skill. The malicious party
            will require knowledge as one can expect from a system administrator or architect with overall rough
            knowledge of the system.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background: #fcb900;">High</td>
         <td>Exploiting a vulnerability with a high complexity requires knowledge and skill such as one can expect from
            a system administrator of the specific system or from an experienced hacker. In order to actually exploit
            this vulnerability the malicious party would need handwritten code or has to set-up a system ( for example,
            man-in-the-middle servers and/or specific systems in order to decrypt encrypted data.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background:#00D014;">Correct</td>
         <td>We use the classification "correct" to show that the component has been tested, but no vulnerabilities have
            been observed. This requires no further actions</td>
      </tr>
   </tbody>
</table>
<br />
<div class="pagebreakafter"></div>
<table>
   <thead>
      <tr>
         <th>Classification</th>
         <th>Effort required (to repair)</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="explainationtd" style="background:#fcb900;">Low</td>
         <td>A recommendation which requires little effort can, possibly, require the purchase of hard- or software and
            might require slight research- and implementation activities.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background:#ff6900;">Medium</td>
         <td>A recommendation which requires average effort can require the purchase of hardor software and might
            require average research- and implementation activities.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background:#eb144c;">High</td>
         <td>A recommendation which requires average effort will require the purchase of hard- or software and will
            contain intense research- and implementation activities.</td>
      </tr>
      <tr>
         <td class="explainationtd" style="background:#00D014;">Correct</td>
         <td>We use the classification "correct" to show that the component has been tested, but no vulnerabilities have
            been observed. This requires no further actions</td>
      </tr>
   </tbody>
</table>
<br />